@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
   box-sizing: border-box;
}
.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#139ec1 , #16b7cc);
}
.inner-box{
    width: 400px;
  margin: 0 auto;
position: relative;
top: 50%;
transform: translateY(-50%);
padding: 40px 80px;
border-radius: 8px;
background-color: rgba(255, 255, 255, 0.642);
backdrop-filter: blur(8px);
box-shadow: 2px 2px 5px #2773a5;
z-index: 2;
}
.signup-header h1{
    font-size: 2.5rem;
    color: black;
}
.signup-header p{
    font-size: 0.8rem;
    color: #555;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p {
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #2773a5;
}
.signup-footer p {
    color: #555;
    text-align: center;
}
.signup-footer p a {
    color: #2773a5;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to right, #ffffff33 , #ffffaa);
    position: absolute;
}
.c1{
    top: 150px;
    left: 50px;
}
.c2{
    bottom: 200px;
    right: 50px;
}