h1{
    color: chocolate;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    color: blueviolet;
}
body{
    background-color: rgba(171, 171, 171, 0.793);
}
p{
color: aqua;
background-color: blue;
font-family: sans-serif
}
article{
    color: aliceblue;
    padding: 40px;
    margin: 40px;
}