
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,900;1,6..96,400&family=Poppins:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bodoni Moda', serif ;
    font-size: 1.2rem;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #041308, #0b3317 );
}

.left-text{
    flex-basis: 30%;
}

.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}

.subheading{
   color: #ddd;
margin-top: 10px;
text-align: center;
}
 
.gallery{
    flex-basis: 50%;
}
img{
    max-width: 40px;
}